@import 'colors';
@import 'variables';

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $lightGrey;
}

@media screen and (max-width: $device-sm) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: $device-sm + 1px) and (max-width: $device-md) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: $device-md + 1px) and (max-width: $device-lg) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: $device-lg + 1px) and (max-width: $device-xl) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: $device-xl + 1px) {
  html {
    font-size: 28px;
  }
}
